description = "Vue-Comp Top Menu"
==
<template lang="jade">
  nav.nav
    div.nav-left Web812.Pro
    ul.nav-item
      li(v-for="item in topMenuData")
        a.button.is-primary(v-link="item.link")
          span.icon
            i(class="fa fa-{{ item.icon }}")
          span {{ item.title }}
</template>

<script>
export default {

  data () {
    return {
      topMenuData: [
        { title: 'Главная',   link: '/',          icon: 'home' },
        { title: 'Портфолио', link: '/portfolio', icon: 'book' },
        { title: 'Услуги',    link: '/services',  icon: 'list' },
        { title: 'Контакты',  link: '/contacts',  icon: 'phone'}
      ]
    }
  }

}
</script>

<style lang="sass">
html, body {
  font-family: Trebuchet, Helvetica, sans-serif;
  overflow-x: hidden;
}
body {
  overflow-y: hidden;
}
#App {
  background: url('/themes/web-studio/assets/img/bg-index-big.jpg') scroll 100% -150px;
  height: 845px;
  header {
    height: 115px;
    position: fixed;
    width: 100%;
    a {
      color: #fff;
    }
  }
}
</style>